<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995819816165-ejdqsq2gi5q47l440vuojlf9vvd16pbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995819816165-ejdqsq2gi5q47l440vuojlf9vvd16pbj</string>
	<key>API_KEY</key>
	<string>AIzaSyBaRNAgSzUPN9SNgL-y7vPIaCjeN4g5Hlg</string>
	<key>GCM_SENDER_ID</key>
	<string>995819816165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Regina.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-6c212</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-6c212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:995819816165:ios:d84c766c1d645c9ec2c00c</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-6c212.firebaseio.com</string>
</dict>
</plist>
